<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Layout</title>
</head>
<body>
<header>
  <!-- Общий заголовок -->
  <h1>Welcome to My Website</h1>
</header>

<nav th:fragment="nav">
  <!-- Общее навигационное меню -->
  <ul>
    <li><a href="/greeting">greeting</a></li>
    <li><a href="/all_orders">all_orders</a></li>
    <li><a href="/create_orders">create_orders</a></li>
    <li><a href="/delete_orders">delete_orders</a></li>
  </ul>
</nav>

<div class="content">
  <!-- Содержимое страницы будет замещено здесь -->
  <div th:replace="~{${contentTemplate}}"></div>
</div>

<footer>
  <!-- Общий подвал -->
  <p>&copy; 2024 My Website</p>
</footer>
</body>
</html>
